{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<!-- Main Slider Start -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                                {%for catg in l%}
                                <li class="nav-item">
                                    <a class="nav-link" href="{%url 'product' catg.id%}"><i class="{{catg.clas}}"></i>{{catg.type}}</a>
                                </li>
                                
                                {%endfor%}
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="{{catg.clas}}"></i>{{error}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6">
                        <div class="header-slider normal-slider">
                            <div class="header-slider-item">
                                <img src="{% static 'img/slider-1.jpg' %}" alt="Slider Image" />
                                
                            </div>
                            <div class="header-slider-item">
                                <img src="{% static 'img/slider-2.jpg' %}" alt="Slider Image" />
                               
                            </div>
                            <div class="header-slider-item">
                                <img src="{% static 'img/slider-3.jpg' %}" alt="Slider Image" />
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="header-img">
                            <div class="img-item">
                                <img src="{% static 'img/category-1.jpg'%}" />
                                
                            </div>
                            <div class="img-item">
                                <img src="{% static 'img/category-2.jpg'%}" />
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Slider End -->      
        
        <!-- Brand Start -->
       
        <!-- Brand End -->      
        
        <!-- Feature Start-->
        <div class="feature">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fab fa-cc-mastercard"></i>
                            <h2>Secure Payment</h2>
                            <p>
                                Accept all cards
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-truck"></i>
                            <h2>Worldwide Delivery</h2>
                            <p>
                                Guarranted delivery in 10 Days
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-sync-alt"></i>
                            <h2>90 Days Return</h2>
                            <p>
                                Without any questions
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-comments"></i>
                            <h2>24/7 Support</h2>
                            <p>
                                Best Customer service
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End-->      
        
        <!-- Category Start-->
        <div class="category">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="category-item ch-400">
                            <img src="{% static 'img/category-3.jpg'%}" />
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="category-item ch-250">
                            <img src="{% static 'img/category-4.jpg'%}" />
                           
                        </div>
                        <div class="category-item ch-150">
                            <img src="{% static 'img/category-5.jpg'%}" />
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="category-item ch-150">
                            <img src="{% static 'img/category-6.jpg'%}" />
                            
                        </div>
                        <div class="category-item ch-250">
                            <img src="{% static 'img/category-7.jpg'%}" />
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="category-item ch-400">
                            <img src="{% static 'img/category-8.jpg'%}" />
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category End-->       
        
        <!-- Call to Action Start -->
        <div class="call-to-action">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1>call us for any queries</h1>
                    </div>
                    <div class="col-md-6">
                        <a href="tel:0123456789">+8383939393</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action End -->       
        
        <!-- Featured Product Start -->
       <style >
                                    .l{
                                        height: 5px;
                                        width: 70%;
                                       margin-top: 0px;
                                      margin-bottom: 10px;
                                      margin-right: 15px;
                                      margin-left: 8px;
                                        padding-top: 0px;
                                        padding-right: 3px;
                                        padding-bottom: 5px;
                                        padding-left: 8px;
                                    }
                                    .p{
                                        max-width: 100%;
                                        max-height: 280px;
                                        min-height: 280px;
                                    }
                                
                            </style>
        <div class="featured-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>Men's cloth</h1>
                </div>
                
                <div class="row align-items-center product-slider product-slider-4">
                    {%for sm in s%}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">{{sm.name}}</a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <div class="l"></div><img src="{{sm.image.url}}" class="p" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3><span>₹</span>{{sm.price}}</h3>
                                <a class="btn" href="{%url 'detail' sm.id%}"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                
            </div>
        </div>
        <!-- Featured Product End -->       
        
        <!-- Newsletter Start -->
       
        <!-- Newsletter End -->        
        
        <!-- Recent Product Start -->
        <div class="recent-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>Recent Product</h1>
                </div>
                 <style >
                        .m{
                                        max-width: 100%;
                                        max-height: 280px;
                                        min-height: 280px;
                                    }
                                
                    </style>
                <div class="row align-items-center product-slider product-slider-4">
                    
                   
                    
                    {%for dates in date%}

                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">{{dates.name}}</a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="{{dates.image.url}}" alt="Product Image" class="m">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3><span>₹</span>{{dates.price}}</h3>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <!-- Recent Product End -->
        
        <!-- Review Start -->
        
        </div>
        <!-- Review End --> 
</body>
{% endblock %}
      
        
               
        
